[Unit]
Description="vt-tunnel: ssh tunnel that allows you to bind you local ports (http-server, ssh and etc) to your remote server with external IP and domain name."
After=multi-user.target network.target
[Service]
Type=simple
EnvironmentFile=/etc/systemd/system/vt-tunnel.cfg
ExecStart=/usr/bin/sudo su -s /bin/bash -c 'autossh -N -p${REMOTE_SSH_PORT} ${REMOTE_USER}@${REMOTE_SERVER} -R ${REMOTE_PORT1}:localhost:${LOCAL_PORT1}' ${RUN_DAEMON_USER}
Restart=always
RestartSec=30
[Install]
WantedBy=multi-user.target
